@import "href=https://fonts.googleapis.com/css?family=Montserrat";
body{
  font-family: 'Josefin Sans', sans-serif;
}
a{
  color: gray;
}
th , td{
  border: 1px solid #ccc;
  padding: 1%;
}
/*Utilities custonize*/
.bg-gray-low{
  background-color: #eee;
}
.bg-white{
  background-color: white;
}
.bold-600{
  font-weight: bold;
}
.padding-2-per{
  padding: 2%;
}
.mt-62{
  margin-top: 62px;
}
.text-jus{
  text-align: justify;
}
